.content {
	width: 100%;
	height: auto;

	.content-item {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
        align-items: center;

		.content-description {
			max-width: 45%;
			width: 100%;
			margin-left: 2rem;
			padding-left: 1.5rem;
		}

		.content-image {
			max-width: 45%;
			width: 100;
			margin-right: 2rem;
			padding-right: 1.5rem;

			img {
				width: 100%;
				height: auto;
				position: relative;
			}
		}
	}
}
