@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100;400;700&display=swap");

body {
	font-family: "Roboto", sans-serif;

	h1,
	h2 {
		color: $title-primary-color;
	}

	.section-heading {
		text-align: center;
        font-size: 24pt;

        .accent {
            margin-top: 24px;
        }

        h2:not(:first-child) {
            margin-top: 14px;
        }
	}

    .accent {
        color: $title-secondary-color;
        font-size: 18pt;
        text-transform: uppercase;
        font-weight: 700;
    }

	p {
		font-family: "Open Sans", sans-serif;
		font-size: 18pt;
	}
}
